# dependencies
node_modules
.pnp
.pnp.*

# build output
.next
out
dist
build

# local state
.data
.env
.env.*
!.env.example
.DS_Store
*.pem

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts

/src/generated/prisma
